{% extends "base.html" %}
{% block content %}
    <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/logout">logout</a></li>
        </ul>
        <h3 class="text-muted">Library</h3>
    </div>
      <div>
        <h4>Books</h4>
        <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>№</th>
            <th>Название книги</th>
            <th>Год издания</th>
            <th>Автор</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ book.name }}</td>
            <td>{{ book.year }}</td>
            <td>{{ book.author.name }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
      </div>
{% endblock %}