{% extends "base.html" %}
{% block content %}
    <h1>Welcome</h1><br>
    <p>Click <a href="/logout">here</a> to logout</p>
    <br><br>
    <h3>Books</h3>
    <table class="table table-bordered">
        <tr>
            <th>№</th>
            <th>Название книги</th>
            <th>Год издания</th>
            <th>Автор</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ book.name }}</td>
            <td>{{ book.year }}</td>
            <td>{{ book.author.name }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}